body {
    background-color: #eee;
}
.container-fluid {
    background-color: #444;
}
.jumbotron {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}
p {
  font-family:	"Trebuchet MS", Helvetica, sans-serif;
  font-size: 18px;
}
.container {
    padding-top: 70px;
    padding-bottom: 70px;
    }
    footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}
hr {
    padding: 4px;
    color: #2d2d30;
    line-height: 2px;
}
b {
  text-decoration: underline;
}
footer .glyphicon {
    font-size: 20px;
     margin-bottom: 20px;
    color: #f4511e;
    }